@use '../custom' as *;
@use  '../components/mixins' as *;

.menu{
    @include gradient;

    li {
        padding: 0 0.5rem;
        
    }
    a {
        color: $white !important;
        text-transform: uppercase;
        font-weight: 600;
        transition: 0.5s;
    }

    
}
