@use  '../components/mixins' as *;
@use '../custom' as *;

.our-team {
    padding: 0 0 6rem 0;
    text-align: center;
    color:  white;
    @include gradient;
    .container {
           height: auto;
           padding: 1rem;
           position: relative;
           
    }
        
}


// TEAM SECTION


.card{
    
    font-size: 1rem;
    .card-body{
       font-size: 1rem;
       font-weight: 500;
       
    }

    .card-icons {
        font-size: 2rem;
        display: flex;
        justify-content: center;
        gap: 15px;
        padding-bottom: 1rem;
        i {
            color: $gray-700;
        }
    }

    .card-text {
        font-size: 14px;
    }
}


.card:hover{

    .card-icons{
        color:$secondary;

       a {
            i {
                color: $secondary;
            }
        }
    }

}