@use '../custom' as *;
@use  '../components/mixins' as *;



.get-started {
    padding: 4rem 0;
    background-color:  $gray-300;
    position: relative;
}

.contact-box{
    height: auto;
    width: 100%;
    color: white;
    
}

.cta-info{
    padding: 2rem;
    margin: 1rem 0;

    &__list{
        position: relative;
        list-style-type: none;
        display: block;
        padding-top: 0.5rem;

        li::before {
            font-family: sans-serif;
            content: "\f178";
            padding: 1rem;
            font-weight: 600;
        }
    }
}