@use '../custom' as *;
@use  '../components/mixins' as *;



.get-started {
    padding: 4rem 0;
    background-color:  $gray-300;
    position: relative;
}

.contact-box{
    height: auto;
    width: 100%;
    color: white;
    
}

