@use '../custom' as *;
@use  '../components/mixins' as *;


.container__newsletter{
  height:  500px;
    
  width: 100%;
  

                  .newsletter{
    margin-top: 1rem;
    @include gradient-light;
    color: white;
      
                            .form-control{
                 padding: 1rem;
                 background-color: transparent;
                 
                                 .form-check-label{
                       padding-block-end: 1rem;
                   }
                   
   
                   }
   }
   

  
}.containerbutton{
    display: flex;
justify-content: flex-end;

}

