@use '../custom' as *;

// GRADIENT MIXING
@mixin gradient {
    background: linear-gradient(to right, rgba($primary, 0.95), rgba($gray-900,0.95));
}

// ABSOLUTE CENTER

@mixin absoluteCenter {
    potiion: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}