@use '../custom' as *;
@use  '../components/mixins' as *;

.display-2{
    margin-bottom: 1rem;
    text-transform: capitalize;

    &--intro{
        display: inline-block;
        font-weight: 700;
        font-size: 2rem;
        color: $white;
        text-transform: uppercase;
        align-items: center;
        @include media-breakpoint-up(lg){
            font-size: 3.5rem;
            display: inline-block;
        }
    }
    &--description{
        font-size: 1rem;
        display: block;
        color: $white;
        margin-top: 1.2rem;
        text-transform: none;

        @include media-breakpoint-up(lg){
            font-size: 1.3;
            display: inline-block;
        }
        
    }

}


// HEADING LINE
.heading-line::before{
    content: "";
    width: 25rem;
    height: 0.1rem;
    display: block;
    margin: auto;
    background-color: $secondary;
}



.fa-brands{
    color: $black;
    font-size: 50px;
    
    
    
    flex-direction: row;
    .fa-windows {
        margin-right: 1rem;
        
    }
}

// GRADIENT BACKGROUND

.gradient{
    background: linear-gradient(to left, rgba($secondary, 0.85), rgba($purple, 1.5));
}